body {
    background-image: url("../images/backgroundPicture01.png");
    background-position: center;
    background-position-y: -100px;
    background-repeat: no-repeat;
    color: black;
    padding: 20px;
    font-family: Arial;
    letter-spacing: 0.15em;
}

#page{
    max-width: 1220px;
    min-width: 720px;
    border: 6px solid red;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
}

#mainName{
    text-align: center;
}
