
#MainName{
    text-align: center;
    font-size: 250%;
}

#a, #support{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px;
}

#a:hover, #support{
    color: #ffffff;
    background-color: darkgray;
}

#donate{
    text-align: center;
}

label{
    text-align: left;
}

#payPalLook:hover{
    color: #ffffff;
    background-color: darkgray;
}