body {
    background-image: url("");
    color: black;
    padding: 20px;
    font-family: Arial;
}

#MainName{
    text-align: center;
    font-size: 250%;
}

#page{
    max-width: 1220px;
    min-width: 720px;border: 6px solid purple;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
}

#tabs{
    width: 570px;
    padding: 15px;
    margin: 0 auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    background-color: darkgray;
}
