
#MainName{
    text-align: center;
    font-size: 250%;
}

#a, #support{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px;
}

#a:hover, #support{
    color: #ffffff;
    background-color: darkgray;
}

#payPal{
    text-align: left;
    margin: 0 auto;
    padding: 15px;
}

#pay{

}

#payPalLook{
    color: #000000;
    text-decoration: none;
    padding: 5px 15px;
}

#payPalLook:hover{
    color: #ffffff;
    background-color: darkgray;
}