#mainName{
    position: center;
}

#a, #home{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px;
}

#a:hover, #home{
    color: #ffffff;
    background-color: darkgray;
}